

h1 {font-size: 26px;}

#main .main-top { padding: 20px 8px; border-bottom: 1px solid #e2e2e2; border-top: 1px solid #e2e2e2;;}
#main .main-content { padding-top: 30px; }
#main .loan-best-area-a form {display: flex;}
dl, dt, dd { font-size: inherit; }

.loan-best-area-a fieldset { display: flex; }
.loan-best-area-a .form-area {
    margin-bottom: 25px;
    padding: 20px 15px;
    background-color: #f7f7f7;
}
.tab-btn {
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
}
.tab-btn li {
    min-width: 50%;
}


.loan-best-area-a form {
    background-color: #f7f7f7;
}
.loan-best-area-a .search-btn {
    margin-top: 6px;
    text-align: center;
    background-color: #000;
}
.search-btn button {
    color: #fff;
    
}

.img-list-area {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.img-list-area .img-area {
    background-color: #bdbdbd;
}
.img-list-area ul {
    flex: 0 0 calc(50% - 4px);
}




.icon-btn-area {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #555;
}
.icon-btn-area .view-all { 
    height: 100%;
    width: 80px; 
    flex-shrink: 0; 
    justify-content: center;
    border-radius: 5px;

}
.icon-btn-area .active { border: 1px solid #000;}
.icon-btn {
    display: flex;
    flex-wrap: wrap;
    width: 100%;  
}
.icon-btn li {
    margin-left: 4px;
    margin-bottom: 4px;
    width: calc(20% - 5px);
    border-radius: 5px;
}
.icon-btn:last-child {
    margin-bottom: 0;
}
.icon-btn button {
    width: 100%;
    height: 80px;
    
}


.popular-books-area fieldset dl {
    display: flex;
    width: 100%;
    align-items: stretch;
    border-bottom: 1px solid #e2e2e2;
    background-color: #f7f7f7;
    
}
.popular-books-area fieldset dt {

    padding: 10px;
    width: 24%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: #f8f8fa;
    font-weight: 500;
    line-height: 1.2;
}
.popular-books-area fieldset dd {
    flex-wrap: wrap;
    width: 76%;
    padding: 10px 20px;
}
.loanPeriod {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.loanPeriod input{
    
    width: 160px;

}

fieldset dl { border-bottom: 1px solid #ddd;}




.card dt { font-size: 16px; }
.card {

    display: flex;
    padding: 20px 0;
    gap: 16px;
    border-bottom: 1px solid #e2e2e2;
 }
.card .img-area {
 
    background-color: #bdbdbd; 
} 
.best-book-list li:first-child {
    border-top: 2px solid #555;
}
.col-Search { 
    width: 100%;
    border: 1px solid #727272;
}


.paging-box { text-align: center; }


@media screen and (max-width: 767px){
.post-cont .blind-m {display: none;}
.post-cont .date {width: 80px;}
}




/*폼 체크박스 라디오버튼*/
.popular-books-area form { 
    border-top: 2px solid #555;
    border-bottom: 1px solid #e4e4e4;;
}
 form ul li{
    border: 1px solid #e2e2e2;
    display: none;
}
form ul li.active { 
    display: block;
}
form ul {
    display: flex;
    flex-wrap: wrap;
}
input {
    appearance: auto;
    background-color: #fff;
}
input[type="text"] {
    height: 35px;
}
input[type="radio"], input[type="checkbox"] {
    display: none;
}
label {
    display: inline-block;
    padding: 2px 10px;
    margin: 4px 0;
    border: 1px solid #e2e2e2;
    background-color: #fff;
}




/* @media screen and (max-width:px){}

@media screen and (min-width:px){} */