


.tab-btn {display: flex;}

fieldset { 
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

form ul li{
    border: 1px solid #e2e2e2;
    display: none;
}
form ul li.active { 
    display: block;
    padding: 10px 15px;
    width: 100%;
}
form ul {
    display: flex;
    
    flex-wrap: wrap;
    background-color: #fff;
}
.tab-btn {
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
}
.tab-btn li {
    min-width: 33%;
    
}

.form-bottom { 
    display: flex;
    
}
.form-bottom ul { 
    width: 20%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
 }
.form-bottom input {
    width: 60%;
    background-color: #fff;
}
.form-bottom button {
    width: 20%;
    background-color: #000;
}

.paging-box { text-align: center; }
table thead { border-bottom: 1px solid #ababab; }
table tbody tr { border-bottom: 1px solid #e4e4e4; }

/* 두번째 컨텐츠영역*/

.job-post {background-color: antiquewhite;}


/* 세번째 컨텐츠영역*/

.post-cont .img-list {
    
}

.promo-list .img-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    white-space: nowrap; /* 줄바꿈 넘어가지 않게 /한 줄로 */
    overflow-x: hidden;  /* 넘친 부분 화면에 표시 x */
    text-overflow: ellipsis; /* 넘친 부분 ...으로 표현 */
}

.promo-list .img-list .img-list-tit {
    display: flex;
}
.img-area {background-color: #bdbdbd; }

/*테이블*/

.post-cont {
    
}

th { 
    text-align: center;
}

.lb-cate {
    padding: 4px 20px;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
}
.base {
    background-color: #303030;
}
.sj { /* 수지 */
    background-color: #1b6eab;
}
.jj { /* 죽전 */
    background-color: #a88200;
}
.bj { /* 보정 */
    background-color: #8a9a5b;
}
.dc { /* 동천 */
    background-color: #14c0ba;
}
.sb { /* 성복 */
    background-color: #119814;
}
.gh { /* 기흥 */
    background-color: #595bd1;
}
.cd { /* 창덕 */
    background-color: #3784f0;
}
.mh { /* 모현 */
    background-color: #aa7800;
}
.date-t {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    color: #777;
}



.post-cont .table-list {
    white-space: nowrap; /* 줄바꿈 넘어가지 않게 /한 줄로 */
    overflow-x: hidden;  /* 넘친 부분 화면에 표시 x */
    text-overflow: ellipsis; /* 넘친 부분 ...으로 표현 */
}
.post-cont table {
    table-layout: fixed;
}



@media screen and (max-width: 767px){
.post-cont .blind-m {display: none;}
.date { width: 80px; }
}