/*본문 전체 적용*/
#main {
    width: 100%;
}
*::-webkit-scrollbar { /*스크롤바 숨기기*/
  display: none;
}
#main .sec-area {
    margin-bottom: 50px;
}
#main img { height: 100%;} /*아이콘*/

.tit-box {
    display: flex;
}
.more { /* + 표시*/ 
    width: 36px;
    height: 36px;
    padding: 5px;
    border-radius: 50%;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #333;
}
.more img {
    width: 100%;
}

#main .sec-tit { /*h2*/
    font-size: 28px;
    font-weight: 600;
}
#main .main-txt { /*부제목*/
    font-size: 17px;
    color: #464646;
    margin-bottom: 16px;
}
#main .tab-btn {
    gap: 8px;
    margin-top: 16px;
}

#main .tab-btn button,
#main .tab-btn button a {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px;
    background-color: #464646;
    border-radius: 50px;
    color: #fff;
    flex-shrink: 0;
}
#main .tab-btn button.active {
    background-color: #c83156;
}

/*공통 - 슬라이드 배너 스타일 */
.list-wrap {
    overflow: hidden;
    overflow-x: auto;
}

.banner-list {
    display: flex;
    padding-top: 16px;
}
/*공통 - 플로팅스타일*/
.feature-area {
    width: 100%;
    padding: 25px 20px;
    background-color: #fff;
    border-radius: 15px;
    flex-direction: column;
    overflow: hidden; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

/*메인 상단*/

#main .main-cont .introduce {
    text-align: center;
}
.main-cont .introduce p {
    line-height: 1.2;
}
.main-cont .introduce p:first-child {
    font-size: 18px;
}

#main .main-cont .first, #main .main-cont .login {
    border: 1px solid #1B6EAB;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
}

.main-cont .first input {
    height: 100%;
    border: 0 none;
}
.main-cont .first .rest-area {
    padding: 16px;
    color: #fff;
    background-color: #1B6EAB;
}
.rest-area .rest-info {
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 16px;
    text-align: center;
}
.rest-area .rest-info .test {
    line-height: 20px;
}
.rest-area .rest-info .year {
    font-size: 20px;
    vertical-align: bottom;
}
.rest-area .rest-info .btns span {
    font-size: 30px;
    font-weight: 600;
}

.rest-area .rest-info .rest-day {
    margin: 10px 0;
}
.rest-area .rest-info .rest-day span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: #333;
    background-color: #fff;
    line-height: 40px;
    font-weight: 500;
}
.rest-area .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.rest-area .open-time {
    margin-top: 16px;
    padding-right: 16px;
    height: 150px;
    overflow-y: auto;
}
.rest-area .open-time p {
    display: flex;
    margin-bottom: 2px;
}
.open-time p span {
    display: inline-block;
}
.open-time p .left {
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.open-time p .rigth {
    width: 45%;
    text-align: right;
}


/* 상단- 로그인  */
.main-cont .login {
    text-align: center;
}
.main-cont .login legend {
    font-size: 24px;
    font-weight: 500;
    padding: 4px 0;
    color: #fff;
    background-color: #03416E;
    border: 1px solid #03416E;
    z-index: 1;
}
.main-cont .login .in-box {
    padding: 20px 20px 10px 20px;
    display: flex;
}
.main-cont .login .in-box label:last-child input{
    margin-top: 4px;
}

.main-cont .login .in-box button {
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    margin-left: 4px;
    color: #fff;
    background-color: #1B6EAB;
    border-radius: 3px;
}

.main-cont .login p {
    margin-bottom: 10px;
}
.main-cont .login p button {
    font-size: 16px;
    padding-right: 10px;
    position: relative;
}
.main-cont .login p button::after {
    content: "|";
    font-size: 14px;
    position: absolute; right: 0; top: 2px;
}
.main-cont .login p button:last-child::after {
    content: "";
}


/* 메인상단 - 자주찾는 메뉴 */
.main-cont .quick-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.quick-btns a {
    display: flex;
    flex-direction: column;  /* 세로로 정렬 */
    text-align: center;
}
.quick-btns a button {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 25px;
    background-color: #fff;
    margin-bottom: 8px;
}
.quick-btns a span {
    font-size: 1em
}


/*팝업존*/
.m-tit { font-size: 28px; font-weight: 600; }
.sub-tit { 
    margin-bottom: 25px; 
    color: #464646;  
}
.swiper { overflow: hidden; }
.swiper-wrapper {
    display: flex;
}
.popup-zone .swiper-slide {
    width: 280px;
    height: 280px;
    margin-right: 15px;
    background-color: #bebebe;
    flex-shrink: 0;
    overflow: hidden;
}

/*도서관 소식 - 공지사항*/

.feature-area li {
    display: flex;
    margin-bottom: 15px;
    justify-content:start;
}
.feature-area li:last-child {
    margin: 0;
}
.feature-area li span {
    height: 100%;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    background-color: #FFF;
    border: 1px solid #333;
    font-size: 1em;
}
.feature-area li .sj {
    color: #FFF;
    background-color: #1b6eab;
    border: 1px solid #1b6eab;
}
.feature-area li dl {
    min-width: 0;
    
}
.feature-area dt {
    white-space: nowrap; /* 줄바꿈 넘어가지 않게 /한 줄로 */
    overflow: hidden;  /* 넘친 부분 화면에 표시 x */
    text-overflow: ellipsis; /* 넘친 부분 ...으로 표현 */
}
.feature-area li dd {
    font-size: 14px;
    color: #646464;
}
/*이용 안내*/
.guide .feature-area {
    padding: 0;
}

.guide .btn-box {
    display: flex;
    margin-bottom: 16px;
    gap:8px
}

.guide .btn-box p { width: calc(50% - 8px);}

.btn-box a {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    height: 50px; 
    padding: 15px 0;
    color: #232323;
    text-align: center;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, .1);
    border-radius: 10px;
    margin-top: 10px;
}
.guide .box-tit {
    font-size: 18px;
    font-weight: 500;
    padding:5px 20px;
    width: 100%;
    background-color: #c83156;
    color: #fff;
}

.desc {padding: 20px 30px;} /*테이블 내부 패딩*/

.seat-table tbody tr:first-child th, .seat-table tbody tr:first-child td {
    padding-top: 15px;
}
.seat-table thead{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.ta-l,.ta-l01,.ta-l02,.ta-l03,.ta-l04 {font-weight: 500;}
.ta-l20 {padding-right: 5px;}
.seat-table .ta-l21,.ta-l22 {color:#646464; }
.seat-table .ta-l23 {color: #e82929;}
.seat-table .ta-l24 {color: #1b30ff;}


/*도서관 아카이브*/

.sel-box {
    width: 200px;
    border-radius: 30px;
    border: 1px solid #ddd;
    text-align: start;
    padding: 5px 20px 5px 15px;
}
.sel-box li {
    display: none;
    width: 100%;
    height: 100%;
}
.sel-box li.on {
    display: block;
}

.banner-list li {
    flex-shrink: 0;
    width: 250px;
    margin-right: 10px;
    border: 1px solid #ddd; /*임시*/
}
.banner-list li div {
    width: 100%;
    height: 150px;
    background-color: #eee; /*임시*/
}
.card-ui dl {
    padding: 5px 10px 30px;
}
.card-ui dt {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    word-break: keep-all;
    overflow-wrap: break-word;

}
.card-ui dd {
    margin-top: 10px;
    color: #646464;
}
/*문화 행사*/

.event-box { /*li*/
    width: 235px;
    border: 1px solid #e2e2e2;
    padding: 20px;
    flex-shrink: 0;
    margin-right: 20px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, .2);
}
.event-box span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 40px;
    min-width: 80px;
    font-size: 14px;
    padding: 0 5px;
    margin-right: 5px;
}
.event-box .sj {background-color: #1b6eab;}
.event-box .ing  {background-color: #b94c4d;}
.event-box .before {background-color: #5784ec;}
.event-box .closed { background-color: #8e9297;}
.event-box .pending  {font-size: 13px; background-color: #81b148;}


.event-title {
    margin: 20px 0;
    font-size: 16px; 
    font-weight: 500;
    color: #000;
    overflow: hidden;
    display: -webkit-box; /* 웹킷 기반 브라우저용 레이아웃 방식 */
    -webkit-box-orient: vertical; /* 박스 방향을 세로로 설정 */
    -webkit-line-clamp: 2; /* 웹킷 방식 줄 수 제한 */
}

.event-box .item-info {
    color: #646464;
}

.event-box .event-period {
    line-height: 1.1;
}

.event-box .target {margin-top: 8px;}

.item-info .stand-by{margin-left: 10px;}


/* curation - 북큐레이션 */


.curation .tab-btn {
    margin-top: 16px;
    display: flex;
}

.curation .slide-banner-wrap {
    width: 100%;
    overflow: hidden;
    margin-top: 8px;
    box-sizing: border-box;
}

.curation .slide-banner {
    display: none;
}
.curation .slide-banner.show {
    display: flex;
    gap: 8px
}

.slide-banner li {
    flex-shrink: 0;
}
.slide-banner .img-mask {
    width: 260px;
    height: 380px;
    background-color: #e2e2e2;
}
.slide-banner li dt {
    width: 260px; /*수정해야함 뉴스와 아카이브 글자 튀어나옴 클래스 따르게 주기*/
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #646464;
}
.slide-banner li dd {
    display: none;
}

.curation .slide-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}



/*반응형 부분*/
@media screen and (min-width: 520px) { 
    .main-cont .login .in-box div {
        width: 70%;
    }
    .main-cont .login .in-box button {
        width: 30%;
    }

    .main-cont .quick-btns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .main-cont .quick-btns a button {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width:768px){ /*태블릿 최소*/    
    /*메인 상단*/
    .top-box .first form {
        display: flex;
    }
    .top-box .first form label {
        width: 100%;
    }
    .top-box .first .trending {
        display: flex;
        margin-left: auto;
        padding: 10px;
        width: 40%;
        color: #fff;
        background-color: #03416E;
    }
    .top-box .first .trending li {
        display: none;
        line-height: 38px;
    }
    .top-box .first .trending li.show {
        display: block;
    }
    .top-box .first .trending .updown {
        margin-left: auto;
        display: flex;
        flex-direction: column;  /* 세로로 정렬 */
        justify-content: center;  /* 세로방향 가운데 정렬 */
    }
    
    .top-box .first .rest-area {
        display: flex;
    }
    .top-box .first .rest-area .rest-info {
        width: 50%;
        border-bottom: 0 none;
        border-right: 2px solid #e2e2e2;
        padding: 0 20px 0 0;
    }

    .top-box .first .rest-area .open-time {
        width: 50%;
        margin: 0;
        padding-left: 20px;
    }

    .top-box .login legend {
        height: 58px;
        padding: 12px 0;
        box-sizing: border-box;
    }
    /*이용안내*/
    .seat-table tbody tr td {font-size: 18px; text-align: center;}
    .seat-table tr th:first-child {text-align: left;}
    .seat-table th {text-align: center;}

    /*문화행사*/
    .culture-banner .event-box {width: 314px;}
    .item-info {font-size: 17px;}
    .event-box .event-title {font-size: 20px;}

    /*큐레이션*/
    
    .curation .slide-banner li.show {
        display: flex;
    }

    .curation .slide-banner li.show dl {
        width: 260px;
        height: 380px;
        margin-left: 10px;
    }
    .curation .slide-banner li.show dt {
        font-size: 24px;
        font-weight: 600;
        color: #333;
        margin-bottom: 10px;
    }
    .curation .slide-banner li.show dd {
        display: block;
        font-weight: 500;
    }
    .curation .slide-banner li.show dd:last-child {
        color: #646464;
        margin-top: 10px;
    }
}



@media screen and (min-width: 1024px) { /*데스크탑 최소너비*/
    body { line-height: 1.4;}
    .banner-wrap {
        display: flex;
        overflow: hidden;
        gap:20px
    }
    .banner-wrap .sec-area:first-child {
        width: calc(40% - 20px);
    }
    .banner-wrap .sec-area:last-child {
        width: calc(60% - 20px);
    }
    #main .tab-btn button,
    #main .tab-btn button a {
        font-size: 20px;
        min-width: 170px;
    }

    
    /*로그인 부분 맨 상단*/
    .top-box {
        width: 100%;
        display: flex;
        gap: 10px;
    }
    
    .top-box .first {
        width: 60%;
    }

    .top-box .login {
        width: 40%;
    }
    /*큐레이션*/

    .curation .curation-box {
        display: flex;
        gap:8px
    }
    .curation .tab-btn {
        flex-direction: column;  /* 세로로 정렬 */
        margin-right: 16px;
    }

    .curation-box .tab-btn button:last-child {
        margin-top: 16px;
        position: relative;
    }
    .curation-box .tab-btn button:last-child::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #646464;
        position: absolute; left: 0; top: -12px;
    }

    /*도서관소식*/
    .feature-area { padding: 35px 30px;}
    .feature-area dt { font-size: 20px;}
    .feature-area li dd { font-size: 16px;}
    .feature-area li span { padding: 15px;}
    
    /*팝업존*/ 
    .popup-zone .swiper-slide {
        width: 400px;
        height: 400px;
    }
    /*도서관 아카이브*/
    .sel-box a {
        margin-top: 5px;
    }




}
/*혜진언니*/
@media screen and (min-width: 1024px) and (max-width: 1074px) {
    .rest-area .open-time {
        height: 180px;
    }
}
@media screen and (min-width: 1100px){
    .main-cont .quick-btns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    
}
